
<div class="about">
 <h1>POSIBULITIES OF SURVIVAL ON MARS</h1>
 <p>Although human cannont live on mars with out proper equipment.
<br> Equipment that will support suitable atmosphere, etc.
Other forms of life is very much possible. <br> I terms of bacterias and stuff.
It has been proven that there was life on Mars before. <br> In fact there are still ice left on north pole of the planet.<br>
That ice could melt and become water wich is essential for life and can make some sort of an atmosphere. Although it is very limited <br>
In our boot camp you will experiance harsh living condition wich is  technicaly possible on Mars. <br>
 You will be isolated from outside word and obtain some survival skils.
<br> You will join grounp of sientist, that will guide you through this dificult journey. <br>
ARE YOU READY TO BE NEXT MARSIAN? ;)</p>

</div>
