<div class="pictureleft">
<img src="http://dwcurrierphotography.com/uploads/processed/1311/1303131029351red_rock_starry_night_pano.jpg" width="606px" height="400px">
</div>
<div class="textright">
<p id="texts">   A lot of people all over the world debating weather life on other planets is possible. <br>
Mean while sientist predicting that travel to the closest planet Mars, will be possible by 2030. <br>
Even then, how chalengin will it be to start a colony on Mars? With is it inhabitable atmosfere and storms.<br>
      To get answers to a lot of those answers. MSM Inc. presents  you our new project. <br>
    MSM Inc. will host Mars survival bootcamp, out in the deserts of Red Rocks Nevada. The camp will be isolated <br>
  vacume like enclosed fob. It will have al the needed survival ametities and will make presense on Mars as realistic <br>
   as possible for our tourists and visitors. <br>
     Find out more on our about page and pricing on our product page. <br>
   Thank you for your interest!</p>
</div>
