<div class="box_1">

  <ul id="info">
    <h1>BASIC MEMBERSHIP</h1>
    <li>24/7 ACCESS TO ALL FACILITIES</li>
    <li>6 WEEKS STAY</li>
    <li>MINIMUM AMENDITIES</li>
  </ul>
</div>

<div class="box_2">
  <ul id="info">
    <h1>PREMIUM MEMBERSHIP</h1>
    <li>24/7 ACCESS TO ALL FACILITIES</li>
    <li>12 WEEKS STAY</li>
    <li>ACCESS TO ALL AMENDITIES</li>
    <li>GET A PERSONAL PRANSPORTATION</li>
  </ul>
</div>
 <div class="box_3">
   <ul id="info">
     <h1>VIP MEMBERSHIP</h1>
     <li>24/7 ACCESS TO ALL FACILITIES</li>
     <li>24 WEEKS STAY</li>
     <li>ACCESS TO ALL AMENDITIES</li>
     <li>GET A PERSONAL PRANSPORTATION</li>
     <li>GET PERSONAL LAB AND A FARM</li>
   </ul>
 </div>
